.shopping-cart {
  padding: 10px;
  padding-left: 45px;
  width: 50%;
  box-sizing: border-box;
}

.shopping-cart img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.event-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.session-item {
  margin-bottom: 15px;
  padding: 10px 0;
}

.session-item:last-child {
  margin-bottom: 0;
}

span {
  margin-left: 25%;
}

@media (min-width: 768px) {
  .event-title,
  .date {
    width: 230px;
  }
}

@media (max-width: 767px) {
  .shopping-cart {
    width: 100%;
    margin-left: 0;
  }
}
