.event-detail {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.btnBack {
  margin-top: 25px;
  background: none;
  border: none;
  color: var(--color-text-title-subtitle);
  font-size: 20px;
  padding-right: 200px;
  cursor: pointer;
  display: block;
  text-align: right;
  width: 100%;
}

.no-info {
  margin-top: 25px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.sessions-list {
  border: 2px solid #ccc;
  padding: 10px;
  margin-left: auto;
  display: inline-block;
  box-sizing: border-box;
}

.sessions-list.no-info {
  border: none;
}

.session {
  margin-bottom: 10px;
}

.session-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  text-align: right;
}

.session p {
  margin: 0;
  flex: 1;
  text-align: left;
}

.controls {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.controls button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}

.controls button:disabled {
  color: #007bff;
}

.controls span {
  font-size: 18px;
  margin: 0 10px;
}

.event-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

span {
  margin-left: 25%;
}

app-shopping-cart {
  width: 50%;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .sessions-list {
    width: 100%;
    margin-left: 0;
  }

  app-shopping-cart {
    width: 100%;
  }

  .btnBack {
    text-align: center;
    padding-right: 0px;
  }
}
