<div class="event-detail">
    <button class="btnBack" (click)="goBack()">Volver</button>
    <div class="content-container">
        <div class="sessions-list" [ngClass]="{ 'no-info': !sessions || sessions.length === 0 }">
            @if (sessions && sessions.length > 0) {
            @for (session of sessions; track session.referenceId) {
            <div class="session">
                <div class="session-row">
                    <p>Fecha: {{ session.date | date:'dd/MM/yyyy' }} - Disponibilidad: {{ session.availability }}</p>
                    <div class="controls">
                        <button (click)="decrement(session)">-</button>
                        <span>{{ session.selected || 0 }}</span>
                        <button (click)="increment(session)">+</button>
                    </div>
                </div>
            </div>
            }
            } @else {
            <p class="no-info">EVENT INFO NOT FOUND</p>
            }
        </div>

        <app-shopping-cart></app-shopping-cart>

    </div>
</div>